[Desktop Entry]
Name=2048
Name[bs]=2048
Name[ca]=2048
Name[cs]=2048
Name[de]=2048
Name[el]=2048
Name[es]=2048
Name[fi]=2048
Name[fr]=2048
Name[fur]=2048
Name[he]=2048
Name[hu]=2048
Name[id]=2048
Name[lt]=2048
Name[pl]=2048
Name[pt]=2048
Name[pt_BR]=2048
Name[sk]=2048
Name[sl]=2048
Name[sr]=2048
Name[sr@latin]=2048
Name[sv]=2048
Name[tr]=2048
Name[zh_CN]=2048
Comment=Obtain the 2048 tile
Comment[bs]=Dobijte 2048 pločicu
Comment[ca]=Obteniu la casella 2048
Comment[cs]=Získejte kámen 2048
Comment[de]=Erlangen Sie die 2048-Kachel
Comment[el]=Φτιάξτε το πλακίδιο 2048
Comment[es]=Obtener la ficha 2048
Comment[fi]=Saavuta 2048-laatta
Comment[fr]=Obtenir la tuile 2048
Comment[fur]=Oten il bloc 2048
Comment[he]=להשיג את האריח 2048
Comment[hu]=Szerezze meg a 2048-as csempét
Comment[id]=Dapatkan ubin 2048
Comment[lt]=Pasiekti 2048 plytelę
Comment[pl]=Uzyskanie liczby 2048
Comment[pt]=Atingir os 2048
Comment[pt_BR]=Obtenha o bloco 2048
Comment[sk]=Získajte dlaždicu 2048
Comment[sl]=Cilj je polje 2048
Comment[sr]=Добијте 2048 плочицу
Comment[sr@latin]=Dobijte 2048 pločicu
Comment[sv]=Erhåll 2048-brickan
Comment[tr]=2048'i elde edin
Comment[zh_CN]=获得值为 2048 的方块
TryExec=pygtk2048
Exec=pygtk2048
Icon=gnome-2048
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Game;
Keywords=puzzle;
Keywords[bs]=slagalica;
Keywords[ca]=trencaclosques;
Keywords[cs]=logická;hra;hlavolam;
Keywords[de]=Puzzle;
Keywords[el]=γρίφος;puzzle;
Keywords[es]=puzle;
Keywords[fi]=puzzle;pulmapeli;
Keywords[fr]=puzzle;casse-tête;
Keywords[fur]=puzzle;gredei;
Keywords[he]=פאזל;לוח;
Keywords[hu]=puzzle;kirakó;fejtörő;
Keywords[id]=teka-teki;
Keywords[lt]=dėlionė;galvosūkis;
Keywords[pl]=puzzle;puzle;
Keywords[pt]=jogo;
Keywords[pt_BR]=quebra-cabeça;puzzle;
Keywords[sk]=puzzle;hlavolam;
Keywords[sl]=igra;uganka;
Keywords[sr]=слагалица;
Keywords[sr@latin]=slagalica;
Keywords[sv]=pussel;
Keywords[tr]=bulmaca;
Keywords[zh_CN]=puzzle;谜;
